#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// https://zmk.dev/docs/keymaps/behaviors/mouse-emulation
#define ZMK_POINTING_DEFAULT_MOVE_VAL 2400 //d 1200
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        l_ram: l_ram {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_press &kp PSCRN>, <&macro_tap &kp F>, <&macro_release &kp PSCRN>, <&macro_release &kp PSCRN>;
        };
    };

    // 0  1  2  3  4       5  6  7  8  9
    // 10 11 12 13 14      15 16 17 18 19
    // 20 21 22 23 24      25 26 27 28 29
    //          30 31      32 33
    combos {
        compatible = "zmk,combos";

        grave {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp GRAVE>;
            layers = <0>;
        };

        tilde {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp TILDE>;
            layers = <0>;
        };

        minus {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp MINUS>;
            layers = <0>;
        };

        under {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp UNDER>;
            layers = <0>;
        };

        caps_word {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
            layers = <0>;
        };

        caps_lock {
            timeout-ms = <50>;
            key-positions = <3 6>;
            bindings = <&kp CAPS>;
            layers = <0>;
        };

        studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
            layers = <4>;
        };

        l_ram {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&l_ram>;
            layers = <4>;
        };

        l4 {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&mo 4>;
            layers = <0>;
            slow-release;
        };
    };

    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <250>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <250>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };

        td_shift: tap_dance_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHFT>, <&kp LSHFT>;
        };
        td_gui: tap_dance_gui {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LGUI>, <&kp LGUI>;
        };
        td_alt: tap_dance_alt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LALT>, <&kp LALT>;
        };
        td_ctrl: tap_dance_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LCTRL>, <&kp LCTRL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0
        graphite {
            display-name = "Graphite"; // displayed in zmk studio
            bindings = <
//        ┌───────────┬───────────┬───────────┬───────────┬───────────┐   ┌──────────┬───────────┬───────────┬───────────┬───────────┐
//        │     B     │     L     │     D     │     W     │     Z     │   │    J     │     F     │     O     │     U     │     ;     │
//        ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├──────────┼───────────┼───────────┼───────────┼───────────┤
//        │ mt lgui N │ mt lalt R │ mt lctl T │ mt lsft S │     G     │   │    Y     │ mt rsft H │ mt rctl A │ mt ralt E │ mt rgui I │
//        ├───────────┼───────────┼───────────┼───────────┼───────────┤   ├──────────┼───────────┼───────────┼───────────┼───────────┤
//        │     Q     │     X     │     M     │     C     │     V     │   │    K     │     P     │     ,     │     .     │     /     │
//        └───────────┴───────────┴───────────┼───────────┼───────────┤   ├──────────┼───────────┼───────────┴───────────┴───────────┘
//                                            │    esc    │ lt 3 bspc │   │ lt 2 spc │    ent    │
//                                            └───────────┴───────────┘   └──────────┴───────────┘
      &kp B        &kp L        &kp D         &kp W         &kp Z            &kp J         &kp F         &kp O         &kp U        &kp SEMI
      &mt LGUI N   &mt LALT R   &mt LCTRL T   &mt LSHFT S   &kp G            &kp Y         &mt RSHFT H   &mt RCTRL A   &mt RALT E   &mt RGUI I
      &kp Q        &kp X        &kp M         &kp C         &kp V            &kp K         &kp P         &kp COMMA     &kp DOT      &kp FSLH
                                              &kp ESC       &lt 3 BSPC       &lt 2 SPACE   &kp ENTER
            >;
        };

        // 1
        qwerty {
            display-name = "Qwerty";
            bindings = <
//        ┌───────────┬───────────┬───────────┬───────────┬─────┐   ┌─────┬───────────┬───────────┬───────────┬───────────┐
//        │     Q     │     W     │     E     │     R     │  T  │   │  Y  │     U     │     I     │     U     │     P     │
//        ├───────────┼───────────┼───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┼───────────┼───────────┤
//        │ mt lgui A │ mt lalt S │ mt lctl D │ mt lsft F │  G  │   │  H  │ mt rsft J │ mt rctl K │ mt ralt L │ mt rgui ; │
//        ├───────────┼───────────┼───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┼───────────┼───────────┤
//        │     Z     │     X     │     C     │     V     │  B  │   │  N  │     M     │     ,     │     .     │     /     │
//        └───────────┴───────────┴───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┴───────────┴───────────┘
//                                            │           │     │   │     │           │
//                                            └───────────┴─────┘   └─────┴───────────┘
      &kp Q        &kp W        &kp E         &kp R         &kp T        &kp Y    &kp U         &kp I         &kp U        &kp P
      &mt LGUI A   &mt LALT S   &mt LCTRL D   &mt LSHFT F   &kp G        &kp H    &mt RSHFT J   &mt RCTRL K   &mt RALT L   &mt RGUI SEMI
      &kp Z        &kp X        &kp C         &kp V         &kp B        &kp N    &kp M         &kp COMMA     &kp DOT      &kp FSLH
                                              &trans        &trans       &trans   &trans
            >;
        };

        // 2
        symbol {
            display-name = "Symbol and number";
            bindings = <
//        ┌───────────┬───────────┬───────────┬───────────┬─────┐   ┌─────┬───────────┬───────────┬───────────┬───────────┐
//        │     !     │     @     │     #     │     $     │  %  │   │  &  │     ^     │     *     │     {     │     }     │
//        ├───────────┼───────────┼───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┼───────────┼───────────┤
//        │ mt lgui 3 │ mt lalt 2 │ mt lctl 1 │ mt lsft 0 │  9  │   │  \  │ mt rsft = │ mt rctl ' │ mt ralt ( │ mt rgui ) │
//        ├───────────┼───────────┼───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┼───────────┼───────────┤
//        │     4     │     5     │     6     │     7     │  8  │   │  |  │     +     │     "     │     [     │     ]     │
//        └───────────┴───────────┴───────────┼───────────┼─────┤   ├─────┼───────────┼───────────┴───────────┴───────────┘
//                                            │    tab    │     │   │     │           │
//                                            └───────────┴─────┘   └─────┴───────────┘
      &kp EXCL      &kp AT        &kp HASH       &kp DLLR       &kp PRCNT       &kp AMPS   &kp CARET         &kp ASTRK       &kp LBRC        &kp RBRC
      &mt LGUI N3   &mt LALT N2   &mt LCTRL N1   &mt LSHFT N0   &kp N9          &kp BSLH   &mt RSHFT EQUAL   &mt RCTRL SQT   &mt RALT LPAR   &mt RGUI RPAR
      &kp N4        &kp N5        &kp N6         &kp N7         &kp N8          &kp PIPE   &kp PLUS          &kp DQT         &kp LBKT        &kp RBKT
                                                 &kp TAB        &trans          &trans     &trans
            >;
        };

        // 3
        nav {
            display-name = "Nav and one shot";
            bindings = <
//        ┌─────────┬────────────────┬──────────┬───────────┬───────────────┐   ┌──────┬──────┬──────┬──────┬─────┐
//        │  tog 1  │ &studio_unlock │   sl 6   │   sl 5    │     sl 4      │   │      │ pgup │ home │ end  │     │
//        ├─────────┼────────────────┼──────────┼───────────┼───────────────┤   ├──────┼──────┼──────┼──────┼─────┤
//        │ &td_gui │    &td_alt     │ &td_ctrl │ &td_shift │     pscr      │   │ left │ down │  up  │ rght │     │
//        ├─────────┼────────────────┼──────────┼───────────┼───────────────┤   ├──────┼──────┼──────┼──────┼─────┤
//        │   del   │      spc       │   ent    │   keyr    │ lctl(lsft(V)) │   │      │ pgdn │      │      │     │
//        └─────────┴────────────────┴──────────┼───────────┼───────────────┤   ├──────┼──────┼──────┴──────┴─────┘
//                                              │           │               │   │      │      │
//                                              └───────────┴───────────────┘   └──────┴──────┘
      &tog 1    &studio_unlock   &sl 6       &sl 5         &sl 4               &none      &kp PG_UP   &kp HOME   &kp END     &none
      &td_gui   &td_alt          &td_ctrl    &td_shift     &kp PSCRN           &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT   &none
      &kp DEL   &kp SPACE        &kp ENTER   &key_repeat   &kp LC(LS(V))       &none      &kp PG_DN   &none      &none       &none
                                             &trans        &trans              &trans     &trans
            >;
        };

        // 4
        media {
            display-name = "Media and mouse";
            bindings = <
//        ┌─────┬──────┬──────┬──────┬─────┐   ┌────────────────┬────────────────┬──────────────┬────────────────┬─────┐
//        │ f1  │  f2  │  f3  │  f4  │ f5  │   │       f6       │       f7       │      f8      │       f9       │ f10 │
//        ├─────┼──────┼──────┼──────┼─────┤   ├────────────────┼────────────────┼──────────────┼────────────────┼─────┤
//        │     │ play │ prev │ next │     │   │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_up │ &mmv MOVE_rght │     │
//        ├─────┼──────┼──────┼──────┼─────┤   ├────────────────┼────────────────┼──────────────┼────────────────┼─────┤
//        │ f12 │ mute │ vold │ volu │     │   │      mbck      │      pgdn      │     pgup     │      mfwd      │ f11 │
//        └─────┴──────┴──────┼──────┼─────┤   ├────────────────┼────────────────┼──────────────┴────────────────┴─────┘
//                            │      │     │   │      lclk      │      rclk      │
//                            └──────┴─────┘   └────────────────┴────────────────┘
      &kp F1    &kp F2       &kp F3         &kp F4         &kp F5       &kp F6           &kp F7           &kp F8         &kp F9            &kp F10
      &none     &kp C_PP     &kp C_PREV     &kp C_NEXT     &none        &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   &none
      &kp F12   &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP   &none        &mkp MB4         &kp PG_DN        &kp PG_UP      &kp MB5           &kp F11
                                            &none          &none        &mkp MB1         &mkp MB2
            >;
        };

        // 5
        /* https://zmk.dev/docs/keymaps/behaviors/bluetooth */
        oh_graphite {
            display-name = "OH Graphite and BT";
            bindings =<
//        ┌───┬───┬───┬─────┬──────┐   ┌────────┬──────────┬──────────┬──────────┬──────────┐
//        │ ; │ U │ O │  F  │  J   │   │        │          │          │          │          │
//        ├───┼───┼───┼─────┼──────┤   ├────────┼──────────┼──────────┼──────────┼──────────┤
//        │ I │ E │ A │  H  │  Y   │   │ bt_clr │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │
//        ├───┼───┼───┼─────┼──────┤   ├────────┼──────────┼──────────┼──────────┼──────────┤
//        │ / │ . │ , │  P  │  K   │   │        │ bt_sel 4 │          │          │          │
//        └───┴───┴───┼─────┼──────┤   ├────────┼──────────┼──────────┴──────────┴──────────┘
//                    │     │ lctl │   │        │          │
//                    └─────┴──────┘   └────────┴──────────┘
      &kp SEMI   &kp U     &kp O       &kp F   &kp J           &none        &none          &none          &none          &none
      &kp I      &kp E     &kp A       &kp H   &kp Y           &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3
      &kp FSLH   &kp DOT   &kp COMMA   &kp P   &kp K           &none        &bt BT_SEL 4   &none          &none          &none
                                       &none   &kp LCTRL       &none        &none
            >;
        };

        // 6
        oh_num {
            display-name = "OH Number";
            bindings =<
//        ┌─────┬─────┬─────┬───────┬──────┐   ┌─────┬─────┬─────┬─────┬─────┐
//        │     │     │     │       │      │   │     │     │     │     │     │
//        ├─────┼─────┼─────┼───────┼──────┤   ├─────┼─────┼─────┼─────┼─────┤
//        │  3  │  2  │  1  │   0   │  9   │   │     │     │     │     │     │
//        ├─────┼─────┼─────┼───────┼──────┤   ├─────┼─────┼─────┼─────┼─────┤
//        │  4  │  5  │  6  │   7   │  8   │   │     │     │     │     │     │
//        └─────┴─────┴─────┼───────┼──────┤   ├─────┼─────┼─────┴─────┴─────┘
//                          │ tog 6 │ bspc │   │     │     │
//                          └───────┴──────┘   └─────┴─────┘
      &none    &none    &none    &none    &none          &none   &none   &none   &none   &none
      &kp N3   &kp N2   &kp N1   &kp N0   &kp N9         &none   &none   &none   &none   &none
      &kp N4   &kp N5   &kp N6   &kp N7   &kp N8         &none   &none   &none   &none   &none
                                 &tog 6   &kp BSPC       &none   &none
            >;
        };

        // for studio
        extra {
            status = "reserved";
        };
        extra2 {
            status = "reserved";
        };

    };
};
