#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAC 0
#define WINDOWS 1
#define GAME 2
#define CODE 3
#define NUMBER 4
#define FUNCTION 5

// Behavior Overrides
&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    macros {
        spotlight: spotlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>, <&macro_tap &kp SPACE>, <&macro_release &kp LGUI>; 
        };

        // Emoji
        mac_emoji: mac_emoji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>, <&macro_press &kp LCTRL>, <&macro_tap &kp SPACE>, <&macro_release &kp LCTRL>, <&macro_release &kp LGUI>; 
        };

        windows_emoji: windows_emoji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DOT>, <&macro_release &kp LGUI>; 
        };
    };

    behaviors {
        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            retro-tap;
        };

        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        td_multi_mac: tap_dance_multi_mac {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sm ESC LALT>, <&spotlight>, <&kp LCTRL>, <&mac_emoji>;
        };

        td_multi_windows: tap_dance_multi_windows {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sm ESC LALT>, <&kp LGUI>, <&windows_emoji>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        mac_default_layer {
            display-name = "Modded Graphite";
            bindings = <
                &none &kp B      &kp L      &kp D       &kp W       &kp Z             &kp J        &kp F       &kp O       &kp U      &kp SEMI   &none
                &none &mt LGUI N &mt LALT R &mt LCTRL T &mt LSHFT S &kp G             &kp Y        &mt RSHFT H &mt RCTRL A &mt RALT E &mt RGUI I &none
                &none &kp Q      &kp X      &kp M       &kp C       &kp V             &kp K        &kp P       &kp COMMA   &kp DOT    &kp FSLH   &none
                &none &none      &none      &none       &kp ESC     &lt 3 BSPC        &lt 1 SPACE  &kp ENTER   &none       &none      &none      &none
            >;
        };

        windows_default_layer {
            display-name = "Qwerty";
            bindings = <
                &none &kp Q      &kp W      &kp E       &kp R       &kp T             &kp Y        &kp U       &kp I       &kp U      &kp P         &none
                &none &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G             &kp H        &mt RSHFT J &mt RCTRL K &mt RALT L &mt RGUI SEMI &none
                &none &kp Z      &kp X      &kp C       &kp V       &kp B             &kp N        &kp M       &kp COMMA   &kp DOT    &kp FSLH      &none
                &none &none      &none      &none       &trans      &trans            &trans       &trans      &none       &none      &none         &none
            >;
        };

        gaming_layer {
            display-name = "Symbols";
            bindings = <
                &none         &kp EXCL       &kp AT &kp HASH   &kp DLLR &kp PRCNT  &kp AMPS     &kp CARET        &kp ASTRK   &kp LBRC   &kp RBRC      &none
                &none         &kp N3        &kp N2  &kp N1     &kp N0   &kp N9     &kp BSLH     &kp EQUAL        &kp SQT     &kp LPAR   &kp RPAR      &none
                &none         &kp N4        &kp N5  &kp N6     &kp N7   &kp N8     &kp PIPE     &kp PLUS         &kp DQT     &kp LBKT   &kp RBKT      &none
                &none         &none         &none   &none      &trans   &trans     &trans       &trans           &none       &none      &none         &none
            >;
        };

        code_layer {
            display-name = "Navigation";
            bindings = <
                &none         &kp Q         &kp W     &kp E     &kp R          &kp T          &none        &kp PG_UP        &kp HOME  &kp END   &none         &none
                &none         &kp A         &kp S     &kp D     &kp F          &kp G          &kp LEFT     &kp DOWN         &kp UP    &kp RIGHT &none         &none
                &none         &kp DEL       &kp SPACE &kp ENTER &key_repeat    &kp LC(LS(V))  &none        &kp PG_DN        &none     &none     &none         &none
                &none         &none         &none     &none     &trans         &trans         &trans       &trans           &none     &none     &none         &none
            >;
        };

        number_layer {
            display-name = "Media";
            bindings = < 
                &trans &kp EXCL  &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS &kp ASTERISK &kp CAPS &kp BSPC  &trans
                &trans &kp N1    &kp N2 &kp N3   &kp N4   &kp N5       &kp N6    &kp N7   &kp N8       &kp N9   &kp N0    &trans
                &trans &kp LSHFT &none  &none    &none    &mo FUNCTION &none     &none    &kp COMMA    &kp DOT  &kp RSHFT &trans
                &trans &trans    &trans &trans   &trans   &trans       &trans    &trans   &trans       &trans   &trans    &trans
            >;
        };

        function_layer {
            display-name = "Function";
            bindings =<
                &trans &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &none  &none  &to GAME  &to MAC  &to WINDOWS &trans
                &trans &kp F1       &kp F2         &kp F3       &kp F4       &kp F5        &kp 6  &kp F7 &kp F8 &kp F9        &kp F10     &trans
                &trans &kp F11      &studio_unlock &bt BT_CLR   &bootloader  &none         &none  &none  &none  &none         &kp F12     &trans
                &trans &trans       &trans         &trans       &trans       &trans        &trans &trans &trans &trans        &trans      &trans
            >;
        };
    };
};
